// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fonts Awesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

*{
    font-family: Arial, Helvetica, sans-serif;
}

.card-header {
    color: white;
}

.logo {
    width: 20%;
}

#lang-btn {
    margin: 5px;
    width: 50px;
    margin-bottom: 20px;
}   

.side-bar-row {
    height: 50px;
    padding-left: 20px;
    padding-top: 15px;
    font-size: bold;
    cursor: pointer; 
}

.side-bar-row:hover {
    background-color: #5cb85c;
    color: white;
}

.left-sidebar {
    height: 91vh;
    border-top: 2px solid #17a2b8;;
}

.right-sidebar {
    height: 91vh;
    border-left: 2px solid #17a2b8;
    border-top: 2px solid #17a2b8;
}

.row2-footer {
    border-top: 2px solid gray;
    padding-top: 20px;
    margin-top: 20px;
}

.policy-col {
    width: 14vw;
    height: 4.5vw;
    background-color: yellowgreen;
    color: white;
    text-align: center;
}

.policy-col-content {
    height: 100%;
    float: left;
}

.policy-col-content p {
    font-size: 14px;
    text-align: initial;
    padding-top: 15px;   
}

.policy-col:hover {
    cursor: pointer;
}

.icon-policy {
    font-size: 65px;
    padding-top: 12px;
}

.banner-div {
    width: auto;
    height: auto;
    background-color: rgb(155, 155, 251);
    text-align: center;
}

.policy-row {
    margin-top: 20px;
}

.guitar-brand {
    height: 5vw;
    background-color: yellowgreen;
}

.margined-row {
    margin-top: 25px;
}

.title-row {
    height: 3vw;
    background-color: rgb(155, 155, 251);
}

.content-row {
    height: auto;
}

.btn-add {
    margin : 10px 0 10px 0;
}

.admin-content {
    margin: 10px 0 0 10px;
}

.top-menu {
    background-color: rgb(255, 204, 0); 
}

.my-menu li {
    font-weight: 700;
    cursor: pointer;
    margin-right: 25px;
}

.btn {
    font-size: 15px !important;
    
}

.client-card {
    border : 1px solid silver !important;
    width: 17rem !important;
    margin: 0;
}

.client-card-body {
    border-top :1px solid silver;
}
    
.card-price {
    color: red;
}

.col-11 h5 {
    padding-top: 15px;
    margin-left: 10px;
}    
.col-1 a {
    margin-right: 10px;
}

.th-5 {
    width: 5%;
}

.th-10 {
    width: 10%;
}

.th-15 {
    width: 15%;
}

.th-50 {
    width: 50%;
}

.no-margin-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.btn_add_product_to_cart {
    margin-right: 10px;
    margin-left :10px;
}

.more-content span {
    display: none;
}

.more-link {
    display: block;
}

.show-more-msg {
    display: none;
}
